nav li { 
    background-color: black;
    color: White;
    display: inline-block;
    padding-top: 25px;
    width: 24%;}

img{
    height: 200px;
    width: 300px;
}
a { color: #111; }

nav ul { 
    white-space: nowrap;
    max-width: 980px;
    margin:auto;
    padding: 0px}



li a { display: block; 
    color: #333; 
    text-align: center; 
    padding: 0px; 
    text-decoration: none; 
}

li a:hover:not(.active) { background-color: #111; }

.active { background-color: #048caa; }

hr { 
    height: 6px; 
    border: none; 
} 
.page { 
    padding: 2em; 
    background: #cecece; 
    max-width: 100%; 
} 

.archive2 { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    grid-gap: 1em; grid-auto-flow: dense; 
}
.article { 
    text-align: center;
     padding: 1em; 
     background: rgba(200, 200, 255, 0.3); 
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05); 
    } 
.article img { max-width: 100%; } 
.five-day { 
    text-align: center; 
    padding: 1em; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05); 
    grid-column: 1 / 5; 
    background: rgba(200, 200, 255, 0.3); 
} 
.day { color: #111; 
    max-width: 100px; 
    height: 125px; 
    background-color: #048caa; 
} 
.article:nth-child(1) { 
    grid-column: 1 / -1; 
    background: rgba(200, 200, 255, 0.3); 
} 
.article:nth-child(8) { 
    grid-column: -3 / -1; 
    background: rgba(255, 200, 255, 0.3); 
} 
.article:nth-child(8):after { 
    content: "grid-column: -3 / -1"; 
} 
@media (max-width: 680px) { 
    .archive { display: flex; 
    flex-direction: column; 
} 
article { margin-bottom: 1em; } } 

footer { 
    text-align: center; 
}
body { 
    background: rgb(197, 190, 190); 
    color: #111; padding: 4em; 
    font-family: sans-serif; 
    line-height: 1.15; 
}
.Weather{ 
    border: 3px outset blueviolet;
    background-color: black;
    text-align: center;
    color: white;
   }
.text{
    font-size: 40px;
    text-align: center;
  }
.this-sucks{
    float:left;
  }
.wow{
    background-color: lightgrey;
  }
  span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.archive{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}